:plain
  ---
  layout: default
  title: Making Sport &amp; <br class="show-for-small-only"/>Fitness Fun
  excerpt: Our aim is to make fitness and sport fun and build healthy habits for life.
  ---

%img{ data: {interchange: "[{{site.cloudinary_prefix}}/c_scale,f_auto,w_970/v1423519271/kids_jumping_cdmq4q (default)], [{{site.cloudinary_prefix}}/c_scale,f_auto,w_550/v1423519106/kids_jumping2_q5zwh9 (small-only)]"}}

#about_us.panel.callout
  {% capture content %}{% include home/summary.md %}{% endcapture %}
  {{ content | markdownify }}

:ruby
  default_tr = '/w_550,c_scale/w_550,h_550,c_crop,g_north,f_auto'
  medium_tr = '/w_270,c_scale/w_270,h_180,c_crop,g_north,f_auto'

.row(data-equalizer)
  %a#schools.medium-4.columns{href: "{{ '/schools' | prepend: site.baseurl }}"}
    .panel
      %h3 Schools
      %p(data-equalizer-watch)
        We run fitness and multi skills classes for KS1

      - img = '/v1423519123/school_photo_kbozdy'
      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}#{medium_tr}#{img} (medium)]" }}

  %a#nurseries.medium-4.columns{href: "{{ '/nurseries' | prepend: site.baseurl }}"}
    .panel
      %h3 Nurseries
      %p(data-equalizer-watch)
        Fun fitness and sports classes for pre-schoolers

      - img = '/v1423519084/girls_dancing_tabj5k'
      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}#{medium_tr}#{img} (medium)]" },
             style: 'border: 1px solid #e8e8e8'}

  %a#parents.medium-4.columns{href: "{{ '/parents' | prepend: site.baseurl }}"}
    .panel
      %h3 Parents
      %p(data-equalizer-watch)
        Join in some fitness fun with your little one

      - img = '/v1423568695/IMG_4392_lpgcf6'
      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}#{medium_tr}#{img} (medium)]" }}

#location
  .panel
    .row
      .medium-7.columns
        %h3 Where we are
        %p Our classes take place in Bristol and North Somerset

      .medium-5.columns.text-center
        %img{src: "{{ '/images/uk_map.svg' | prepend: site.baseurl }}"}
