:plain
  ---
  layout: default
  title: Information for Schools
  ---

:ruby
  default_tr = '/w_550,c_scale,f_auto/'
  medium_tr = '/w_450,c_scale,f_auto/'

{% assign contact_us_path = '/contact_us' | prepend: site.base_url | append: '?subject=schools' %}

- more_button = capture_haml do
  %a.button.tiny.medium-right{href: "{{contact_us_path}}"} Find out more
  %br.show-for-medium-up

.panel.callout
  .row
    .medium-6.columns
      - img = 'v1423519106/kids_jumping2_q5zwh9'

      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}#{medium_tr}#{img} (medium)]"}}

    .medium-6.columns
      %br.show-for-small-only
      {% capture content %}{% include schools/summary.md %}{% endcapture %}
      {{ content | markdownify }}

      %a.button.secondary.small{href: "{{contact_us_path}}"} Contact Us

.panel
  {% capture content %}{% include schools/sports.md %}{% endcapture %}
  {{ content | markdownify }}

  = more_button

.panel
  {% capture content %}{% include schools/fitness.md %}{% endcapture %}
  {{ content | markdownify }}

  = more_button

.panel
  {% capture content %}{% include schools/workshops.md %}{% endcapture %}
  {{ content | markdownify }}

  = more_button

.panel
  .row
    .medium-6.columns
      {% capture content %}{% include schools/trainers.md %}{% endcapture %}
      {{ content | markdownify }}

    .medium-6.columns
      - img = 'v1424204516/lesley_at_birdwell_q6fs0n'
      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}#{medium_tr}#{img} (medium)]"}}

%br
