:plain
  ---
  layout: default
  title: Information for Nurseries
  ---

- default_tr = '/w_550,c_scale,f_auto/'

{% assign contact_us_path = '/contact_us' | prepend: site.base_url | append: '?subject=nurseries' %}

.panel.callout
  .row
    .medium-6.columns
      {% capture content %}{% include nurseries/summary.md %}{% endcapture %}
      {{ content | markdownify }}

    .medium-6.columns
      %br.show-for-small-only
      - img = '/v1424269418/boy_bending_eglvgz'
      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}/w_450,c_scale,f_auto/#{img} (medium)]"}}


.panel
  .row
    .medium-3.columns
      - img = 'v1423519084/girls_dancing_tabj5k'
      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}/w_210,c_scale,f_auto/#{img} (medium)]"}}

    .medium-9.column
      %br.show-for-small-only
      {% include nurseries/testimonial1.html %}

.panel
  {% capture content %}{% include nurseries/class_content.md %}{% endcapture %}
  {{ content | markdownify }}

  %a.button.tiny.medium-right{href: "{{contact_us_path}}"} Contact us for a free trial
  %br.show-for-medium-up

.panel
  {% include nurseries/testimonial2.html %}