:plain
  ---
  layout: default
  title: Information for Parents
  ---

- more_button = capture_haml do
  %a.button.tiny.medium-right{href: "{{ '/contact_us' | prepend: site.base_url }}?subject=parents"} Find out more
  %br.show-for-medium-up

{% assign contact_us_path = '/contact_us' | prepend: site.base_url | append : '?subject=parents' %}

.panel.callout
  .row
    .medium-6.columns
      {% capture content %}{% include parents/summary.md %}{% endcapture %}
      {{ content | markdownify }}

      %a.button.secondary.small{href: "{{contact_us_path}}"} Contact Us

    .medium-6.columns
      %br.show-for-small-only

      :ruby
        tr = '/c_crop,x_2000,y_0,w_1500,h_3000,g_east'
        default_tr = "#{tr}/w_550,c_scale,f_auto,a_90/"
        medium_tr = "#{tr}/w_450,c_scale,f_auto,a_90/"
        img = 'v1424269478/IMG_4416_azzgtz'

      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}#{medium_tr}#{img} (medium)]"}}


.panel
  {% include parents/testimonial1.html %}

.panel
  {% capture content %}{% include parents/class_content.md %}{% endcapture %}
  {{ content | markdownify }}

.panel
  {% include parents/testimonial2.html %}

.row(data-equalizer)
  .medium-4.columns
    .panel(data-equalizer-watch)
      {% capture content %}{% include parents/venues.md %}{% endcapture %}
      {{ content | markdownify }}

  .medium-4.columns
    .panel(data-equalizer-watch)
      :ruby
        default_tr = '/w_550,c_scale,f_auto'
        medium_tr = '/w_260,c_scale,f_auto'
        medium_img = ',a_90/v1424269474/IMG_4412_i1h3ky'
        img = '/v1424519929/IMG_4407_tfblvs'

      %img{data: { interchange: "[{{site.cloudinary_prefix}}#{default_tr}#{img} (default)], [{{site.cloudinary_prefix}}#{medium_tr}#{medium_img} (medium)], [{{site.cloudinary_prefix}}#{medium_tr}#{img} (large)]"}}


  .medium-4.columns
    .panel(data-equalizer-watch)
      {% capture content %}{% include parents/prices.md %}{% endcapture %}
      {{ content | markdownify }}

      %p
        Please
        %a{href: "{{contact_us_path}}"} contact us
        to book a place in our community classes.
